//Font
$font-primaty: 'Lato', 'Source Sans Pro', sans-serif;

//Color
$color-light: #fff;
$color-light-2: rgb(180, 180, 180);
$color-primary: #191919;
$color-primary-light:#303030;

//Border
$thin-border: 1px solid $color-light-2;